samples/playright/PlaywrightTests/bin/*
samples/playright/PlaywrightTests/obj/*
samples/receiver/bin/*
samples/receiver/obj/*
samples/sender/bin/*
samples/sender/obj/*
src/.vs/*
src/data/*
src/data/*
src/report/*
src/webapi/bin/*
src/webapi/obj/*
src/webapi/out/*
src/webapi/env.txt
src/webapiTest/bin/*
src/webapiTest/obj/*
ci/terraform/.terraform.lock.hcl
ci/terraform/terraform.tfstate
ci/terraform/terraform.tfstate.backup
ci/terraform/.terraform/*
Pipfile.lock
src/data/coverage.webapi.xml
src/data/coverage.webapi.xml
ci/create-tfstate/.terraform/*
ci/create-tfstate/terraform.tfstate
ci/create-tfstate/.terraform.lock.hcl
